@media screen and (max-width: 300px) {
  h1 {
    font-size: 1px;
    margin-bottom: 50px;
  }

  body{
      width: 100%;
  }
}

body{
  box-sizing: border-box;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(77, 77, 77);
  color: black;
  
}

.container{
  margin: auto;
  background-color: white;
  max-width: 450px;
  height: 600px;
  padding: 040px;
  border: white;
  border-radius: 4px;
  
  
}
h1{
  font-family: sans-serif;
font-size: 29.5px;
}
p{
  font-family: sans-serif;
font-size: 10.5px;
margin-top: -18px;
}

span{
  color:  #0769DB;
  ;
}
input[type=text] {

  display: inline-block;
   width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 8px 0 ;
  background-color: white;
  border: solid black 1px;
  border-radius: 4px;
  
}
button{
color: white;
box-sizing: border-box;
background: #0769DB;
width: 100%;
padding: 10px;
margin: 10px 0;
border-radius: 4px;
border: none;
cursor: pointer;
}

